<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title -%></title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <section>
      <div class="header-content container">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/BANNER 05.png" class="d-block w-100" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Productos-->
    <div class="row">
      <img src="img/PRODUCTOS.png" alt="Nosotros" class="img-fluid" />
    </div>
    <main class="products container">
      <div class="box-container" id="lista-1">
        <!--1-->
        <div class="box">
          <img src="img/IMG DC 01.jpeg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop: DC - Wonder Woman (Black Lantern)</h3>
            <p>Figura Funko Pop de la Mujer Maravilla DC Comics</p>
            <p class="precio">S/ 69.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="3">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--2-->
        <div class="box">
          <img src="img/IMG DC 02.jpeg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop DC Comics - Harley Quinn w/ Mallet</h3>
            <p>
              Figura Funko Pop de Harley Quinn con su mazo de la serie DC
              Comics.
            </p>
            <p class="precio">S/ 69.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="3">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--3-->
        <div class="box">
          <img src="img/IMG DC 03.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop G.I. Joe: Zartan</h3>
            <p>
              Figura coleccionable Funko Pop de Zartan, de la serie G.I.Joe.
            </p>
            <p class="precio">S/ 49.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="3">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--4-->
        <div class="box">
          <img src="img/IMG DC 06.jpeg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop: Darkseid</h3>
            <p>
              Darkseid, de la película de la Liga de la Justicia de Zack Snyder.
            </p>
            <br />
            <p class="precio">S/ 99.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="3">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--5-->
        <div class="box">
          <img src="img/IMG DC 12.jfif" alt="" />
          <div class="product-txt">
            <h3>Funko Pop: Batman</h3>
            <p>Figura Funko Pop liga de la justicia</p>
            <br />
            <p class="precio">S/ 49.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="8">
              Agregar al carrito
            </a>
          </div>
        </div>

        <!--6-->
        <div class="box">
          <img src="img/IMG DC 11.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop: Flash</h3>
            <p>Figura Funko Pop liga de la justicia Flash</p>
            <br />
            <p class="precio">S/ 49.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="8">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--7-->
        <div class="box">
          <img src="img/IMG DC 09.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop: WWE - Alexa Bliss</h3>
            <p>Figura Funko Pop de Aleza Bliss del deporte WWE</p>
            <p class="precio">S/ 49.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="8">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--8-->
        <div class="box">
          <img src="img/IMG DC 08.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Zombieland - Wichita</h3>
            <p>Funko Pop Zombieland - Wichita</p>
            <p class="precio">S/ 49.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="8">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--9-->
        <div class="box">
          <img src="img/IMG DC 07.png" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Black Adam - Black Adam</h3>
            <p>
              Figura Funko Pop de Black Adam de la pelicula de DC , Black Adam.
            </p>
            <br />
            <p class="precio">S/ 69.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="3">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--10-->
        <div class="box">
          <img src="img/IMG DC 10.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Justice League - Superman</h3>
            <p>
              Figura Funko Pop de Superman de Justice League. Exclusivo de
              Phantom
            </p>
            <br />
            <p class="precio">S/ 49.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="8">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--11-->
        <div class="box">
          <img src="img/IMG DC 04.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Justice League: Wonder Woman</h3>
            <p>
              Figura Funko Pop de Mujer Maravilla de la película Justice League
            </p>
            <p class="precio">S/ 69.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="3">
              Agregar al carrito
            </a>
          </div>
        </div>

        <!--12-->

        <div class="box">
          <img src="img/IMG DC 05.jpeg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Superman en traje de color negro</h3>
            <p>
              Superman en traje de color negro, de la película de la Liga de la
              Justicia de Zack Snyder.
            </p>
            <br />
            <p class="precio">S/ 69.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="3">
              Agregar al carrito
            </a>
          </div>
        </div>
      </div>

      <div class="btn-2" id="load-more">Cargar más</div>
    </main>

    <section class="testimonio container">
      <span>Testimoniales</span>
      <h2>Que opinan nuestros clientes</h2>
      <h3>¡Lo mejor de lo mejor!</h3>
      <div class="testimonial-content">
        <div class="testimonial-1">
          <p>
            "¡Como un apasionado seguidor del universo DC, mi colección de Funko
            Pops es simplemente increíble! Cada figura captura la esencia única
            de mis héroes y villanos favoritos, desde Batman hasta el Joker. La
            diversidad de personajes y detalles en cada Funko me hace querer
            coleccionarlos todos.
          </p>
          <img src="img/starts.png" alt="" />
          <h4>Calificación</h4>
        </div>

        <div class="testimonial-1">
          <p>
            "Ser un fanático de DC Comics significa que siempre busco formas
            creativas de mostrar mi amor por estos icónicos personajes. Los
            Funko Pops de DC son mi elección número uno. No solo son adorables,
            sino que también son la manera perfecta de tener a todos mis héroes
            y villanos favoritos en un solo lugar.
          </p>
          <img src="img/starts.png" alt="" />
          <h4>Calificación</h4>
        </div>
      </div>
    </section>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
