<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title -%></title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <section>
      <div class="header-content container">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/BANNER 03.png" class="d-block w-100" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Productos-->
    <div class="row">
      <img src="img/PRODUCTOS.png" alt="Nosotros" class="img-fluid" />
    </div>
    <main class="products container">
      <div class="box-container" id="lista-1">
        <!--1-->
        <div class="box">
          <img src="img/IMG DISNEY 01.jpeg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Disney: Classics - Chip</h3>
            <p>Figura Funko Pop de Chip de la serie Disney Classics.</p>
            <p class="precio">S/ 69.90</p>
            <br />
            <a href="#" class="agregar-carrito btn-3" data-id="5">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--2-->
        <div class="box">
          <img src="img/IMG DISNEY 03.jpeg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Disney: Villaina - Malefica</h3>
            <p>Figura Funko Pop de Maléfica de la serie Villanos de Disney.</p>
            <p class="precio">S/ 69.90</p>
            <br />
            <a href="#" class="agregar-carrito btn-3" data-id="2">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--3-->
        <div class="box">
          <img src="img/IMG DISNEY 06.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Disney 100 - Elsa</h3>
            <p>Figura Funko Pop de Elsa de la serie 100 años de Disney.</p>
            <p class="precio">S/ 69.90</p>
            <br />
            <a href="#" class="agregar-carrito btn-3" data-id="4">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--4-->

        <div class="box">
          <img src="img/IMG DISNEY 04.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Disney - Mickey Mouse</h3>
            <p>Figura Funko Pop de Mickey Mouse, de Disney Classics.</p>
            <p class="precio">S/ 69.90</p>
            <br />
            <a href="#" class="agregar-carrito btn-3" data-id="6">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--5-->
        <div class="box">
          <img src="img/IMG DISNEY 05.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Disney: Lilo & Stitch - Stitch w/ ukelele</h3>
            <p>
              Figura Funko Pop de Stitch con ukelele, de la película Lilo &
              Stitch.
            </p>
            <p class="precio">S/ 65.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="1">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--6-->
        <div class="box">
          <img src="img/IMG DISNEY 02.jpeg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Disney 100 - Cinderella</h3>
            <p>
              Figura Funko Pop de Cenicienta de la serie 100 años de Disney.
            </p>
            <p class="precio">S/ 69.90</p>
            <br />
            <a href="#" class="agregar-carrito btn-3" data-id="12">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--7-->
        <div class="box">
          <img src="img/IMG DISNEY 09.png" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Disney: Villains - Evil Queen</h3>
            <p>
              Figura Funko Pop de la Reina Malvada de la serie Villanos de
              Disney.
            </p>
            <p class="precio">S/ 69.90</p>
            <br />
            <a href="#" class="agregar-carrito btn-3" data-id="9">
              Agregar al carrito
            </a>
          </div>
        </div>

        <!--8-->
        <div class="box">
          <img src="img/IMG DISNEY 08.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop: Disney Encanto - Bruno Madrigal</h3>
            <p>
              Figura Funko Pop de Bruno Madrigal de la película de Disney
              Encanto.
            </p>
            <p class="precio">S/ 69.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="8">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--9-->
        <div class="box">
          <img src="img/IMG DISNEY 07.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Disney 100 - Aurora</h3>
            <p>Figura Funko Pop de Aurora de la serie 100 años de Disney.</p>
            <p class="precio">S/ 69.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="7">
              Agregar al carrito
            </a>
          </div>
        </div>

        <!--10-->
        <div class="box">
          <img src="img/IMG DISNEY 10.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Disney: Classics - Goofy</h3>
            <p>Figura Funko Pop de Goofy de la serie Disney Classics.</p>
            <p class="precio">S/ 69.90</p>
            <br />
            <a href="#" class="agregar-carrito btn-3" data-id="10">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--11-->
        <div class="box">
          <img src="img/IMG DISNEY 11.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Disney: Classics - Dale</h3>
            <p>Figura Funko Pop de Dale de la serie Disney Classics.</p>
            <p class="precio">S/ 69.90</p>
            <br />
            <a href="#" class="agregar-carrito btn-3" data-id="11">
              Agregar al carrito
            </a>
          </div>
        </div>

        <!--12-->
        <div class="box">
          <img src="img/IMG DISNEY 12.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Disney 100 - Tiana</h3>
            <p>Figura Funko Pop de Tiana de la serie 100 años de Disney</p>
            <p class="precio">S/ 69.90</p>
            <br />
            <a href="#" class="agregar-carrito btn-3" data-id="12">
              Agregar al carrito
            </a>
          </div>
        </div>
      </div>

      <div class="btn-2" id="load-more">Cargar más</div>
    </main>

    <section class="testimonio container">
      <span>Testimoniales</span>
      <h2>Que opinan nuestros clientes</h2>
      <h3>¡Lo mejor de lo mejor!</h3>
      <div class="testimonial-content">
        <div class="testimonial-1">
          <p>
            "Comprar Funko Pops de Disney ha sido una experiencia increíble.
            Cada figura captura la esencia y la personalidad de los personajes
            de Disney de una manera única. Desde los clásicos hasta los
            personajes más recientes, la variedad es asombrosa. Mi colección ha
            crecido rápidamente.
          </p>
          <img src="img/starts.png" alt="" />
          <h4>Calificación</h4>
        </div>

        <div class="testimonial-1">
          <p>
            "Siempre he sido un gran fanático de Disney, y cuando descubrí la
            colección de Funko Pops inspirada en mis personajes favoritos, no
            pude resistirme. La calidad y los detalles de cada figura son
            impresionantes. Mi estantería ahora está llena de estos adorables
            coleccionables.
          </p>
          <img src="img/starts.png" alt="" />
          <h4>Calificación</h4>
        </div>
      </div>
    </section>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
