<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title -%></title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/nav.ejs') %> 
    <section>
        <div class="header-content container">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/BANNER 02.png" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
    </section>
    <!--Productos-->
    <div class="row">
      <img src="img/PRODUCTOS.png" alt="Nosotros" class="img-fluid">
    </div>
    <main class="products container">
        <div class="box-container" id="lista-1">
            <!--1-->
            <div class="box">
                <img src="img/IMG MARVEL 02.jpeg" alt="marvel02">
                <div class="product-txt">
                    <h3>Funko Pop Marvel Avengers - Thor</h3>
                    <p>Figura Funko Pop Pop Marvel Avengers - Thor</p>
                    <p class="precio">S/ 80.90</p>
                    <br>
                    <a href="#" class="agregar-carrito btn-3" data-id="6">
                        Agregar al carrito
                    </a>
                </div>
            </div>
            <!--2-->
            <div class="box">
                <img src="img/IMG MARVEL 01.jpeg" alt="marvel01">
                <div class="product-txt">
                    <h3>Funko Pop Marvel - Captain Marvel</h3>
                    <p>Figura Funko Pop de Capitana Marvel, de Marvel. Exclusivo 2023</p>
                    <p class="precio">S/ 89.90</p>
                    <a href="#" class="agregar-carrito btn-3" data-id="1">
                        Agregar al carrito
                    </a>
                </div>
            </div>
            <!--3-->
            <div class="box">
                <img src="img/IMG MARVEL 10.jpg" alt="marvel10">
                <div class="product-txt">
                    <h3>Funko Pop Marvel: Eternals - Sersi </h3>
                    <p>Figura Funko Pop de Sersi de la película Eternals de Marvel</p>
                    <p class="precio">S/ 69.90</p>
                    <br>
                    <a href="#" class="agregar-carrito btn-3" data-id="3">
                        Agregar al carrito
                    </a>
                </div>
            </div>
            <!--4-->
            <div class="box">
                <img src="img/IMG MARVEL 09.jpg" alt="marvel09">
                <div class="product-txt">
                    <h3>Funko Pop Marvel: Eternals - Ikaris</h3>
                    <p>Figura Funko Pop de Ikaris de la película de Marvel Eternals.</p>
                    <p class="precio">S/ 89.90</p>
                    <br>
                    <a href="#" class="agregar-carrito btn-3" data-id="3">
                        Agregar al carrito
                    </a>
                </div>
            </div>
            <!--5-->
            <div class="box">
                <img src="img/IMG MARVEL 08.jpg" alt="marvel08">
                <div class="product-txt">
                    <h3> Funko Pop Marvel Holiday - Iron-Man</h3>
                    <p>Figura Funko Pop de Iron-Man, de la serie Marvel Holiday.</p>
                    <p class="precio">S/ 69.90</p>
                    <br>
                    <a href="#" class="agregar-carrito btn-3" data-id="2">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            <!--6-->
            <div class="box">
                <img src="img/IMG MARVEL 11.jpg" alt="marvel11">
                <div class="product-txt">
                    <h3>Funko Pop Marvel: Eternals - Makkari </h3>
                    <p> Figura Funko Pop de Makkari de la película de Marvel, Eternals.</p>
                    <p class="precio">S/ 69.90</p>
                    <br>
                    <a href="#" class="agregar-carrito btn-3" data-id="3">
                        Agregar al carrito
                    </a>
                </div>
            </div>
            <!--7-->
            <div class="box">
                <img src="img/IMG MARVEL 06.jpg" alt="marvel6">
                <div class="product-txt">
                    <h3>Funko Pop Marvel: Marvel - J. Jonah Jameson</h3>
                    <p>Figura Funko Pop de J. Jonah Jameson, del universo Marvel.</p>
                    <p class="precio">S/ 89.90</p>
                    <br>
                    <a href="#" class="agregar-carrito btn-3" data-id="3">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            <!--8-->
            <div class="box">
                <img src="img/IMG MARVEL 12.jpg" alt="marvel12">
                <div class="product-txt">
                    <h3>Funko Pop Marvel Holiday - Deadpool</h3>
                    <p>Figura Funko Pop de Deadpool, de la serie Marvel Holiday.</p>
                    <p class="precio">S/ 89.90</p>
                    <br>
                    <a href="#" class="agregar-carrito btn-3" data-id="3">
                        Agregar al carrito
                    </a>
                </div>
            </div>

            <!--9-->
            <div class="box">
                <img src="img/IMG MARVEL 03.jpg" alt="marvel03">
                <div class=" product-txt">
                <h3>Funko Pop Marvel: Lucha Libre - La Estrella Cósmica</h3>
                <p> Figura coleccionable Funko Pop de La Estrella Cosmica (Captain Marvel) , de la serie Lucha Libre, de
                    Marvel.</p>
                <p class="precio">S/ 89.90</p>
                <br>
                <a href="#" class="agregar-carrito btn-3" data-id="2">
                    Agregar al carrito
                </a>
            </div>
        </div>

        <!--10-->
        <div class="box">
            <img src="img/IMG FUNKOS MARVEL 04.jpg" alt="marvel04">
            <div class="product-txt">
                <h3>Funko Pop Marvel 80th Anniversary - Spider-Man</h3>
                <p>Figura Funko Pop de Spider-Man, en su primera aparición, por el aniversario 80 de Marvel.</p>
                <p class="precio">S/ 69.90</p>
                <br>
                <a href="#" class="agregar-carrito btn-3" data-id="2">
                    Agregar al carrito
                </a>
            </div>
        </div>

        <!--11-->
        <div class="box">
            <img src="img/IMG MARVEL 07.jpeg" alt="marvel07">
            <div class="product-txt">
                <h3>Funko Pop Marvel 80th Anniversary - Spider-Man</h3>
                <p>Figura Funko Pop de Spider-Man, en su primera aparición, por el aniversario 80 de Marvel.</p>
                <p class="precio">S/ 69.90</p>
                <br>
                <a href="#" class="agregar-carrito btn-3" data-id="3">
                    Agregar al carrito
                </a>
            </div>
        </div>

        <!--12-->
        <div class="box">
            <img src="img/IMG MARVEL 05.jpg" alt="marvel05">
            <div class="product-txt">
                <h3>Funko Pop Marvel - Hercules (Exclusivo Phantom) </h3>
                <p>Figura Funko Pop de Hercules de Marvel. Exclusivo de Phantom.</p>
                <br>
                <p class="precio">S/ 89.90</p>
                <br>
                <a href="#" class="agregar-carrito btn-3" data-id="3">
                    Agregar al carrito
                </a>
            </div>
        </div>
        </div>

        <div class="btn-2" id="load-more">Cargar más</div>
    </main>

    <section class="testimonio container">
        <span>Testimoniales</span>
        <h2>Que opinan nuestros clientes</h2>
        <h3>¡Lo mejor de lo mejor!</h3>
        <div class="testimonial-content">
            <div class="testimonial-1">
                <p>
                    "Como fanático incondicional del universo Marvel, no puedo expresar lo emocionado que estoy con mi
                    creciente colección de Funko Pops de Marvel. Cada figura es como una obra de arte en miniatura,
                    capturando la esencia de mis superhéroes y villanos favoritos con detalles asombrosos.
                </p>
                <img src="img/starts.png" alt="">
                <h4>Calificación</h4>
            </div>

            <div class="testimonial-1">
                <p>
                    "¡Los Funko Pops de Marvel son simplemente geniales! Como coleccionista ávido, he estado buscando la
                    manera perfecta de mostrar mi amor por los cómics y las películas de Marvel. Estos pequeños tesoros
                    no solo son adorables, sino que también son fieles a los personajes que representan.
                </p>
                <img src="img/starts.png" alt="">
                <h4>Calificación</h4>
            </div>
        </div>
    </section>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
