<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title -%></title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <!-- incluimos la barra de navigation -->
    <%- include('partials/nav.ejs') %>
    <section>
      <div class="header-content container">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/BANNER 04.png" class="d-block w-100" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Productos-->
    <div class="row">
      <img src="img/PRODUCTOS.png" alt="Nosotros" class="img-fluid" />
    </div>
    <main class="products container">
      <br />
      <div class="box-container" id="lista-1">
        <!--1-->
        <div class="box">
          <img src="img/IMG STAR WARS 01.jpeg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Star Wars: Obi Wan Kenobi (Battle)</h3>
            <p>
              Figuara del funko Pop Star Wars: Obi Wan Kenobi - Obi Wan Kenobi
              (Battle)
            </p>
            <br />
            <p class="precio">S/ 69.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="8">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--2-->
        <div class="box">
          <img src="img/IMG STAR WARS 02.jpeg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Star Wars: Obi Wan Kenobi - Purge Trooper</h3>
            <p>
              Figura Funko Pop de Purge Trooper, de la serie de Star Wars: Obi
              Wan Kenobi
            </p>
            <br />
            <p class="precio">S/ 69.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="8">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--3-->
        <div class="box">
          <img src="img/IMG STAR WARS 08.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Star Wars - Luke Skywalker</h3>
            <p>
              Figura Funko Pop de Luke Skywalker de Star Wars: El retorno del
              Jedi (exclusivo)
            </p>
            <br />
            <br />
            <p class="precio">S/ 69.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="8">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--4-->
        <div class="box">
          <img src="img/IMG STAR WARS 04.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Star Wars Classics - Chewbacca</h3>
            <p>Figura Funko Pop de Chewbacca de Star Wars.</p>
            <br />
            <br /><br />
            <p class="precio">S/ 69.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="8">
              Agregar al carrito
            </a>
          </div>
        </div>

        <!--5-->
        <div class="box">
          <img src="img/IMG STAR WARS 05.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Star Wars - Boba Fett</h3>
            <p>
              Figura coleccionable Funko Pop de Boba Fett de las películas de
              Star Wars
            </p>
            <p class="precio">S/ 69.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="8">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--6-->
        <div class="box">
          <img src="img/IMG STAR WARS 06.jpeg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Star Wars:Wrecker</h3>
            <p>Wrecker, de la serie de Star Wars: The Bad Batch</p>
            <br />
            <p class="precio">S/ 139.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="8">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--7-->
        <div class="box">
          <img src="img/IMG STAR WARS 07.jpeg " alt="" />
          <div class="product-txt">
            <h3>Funko Pop Star Wars:Tech</h3>
            <p>Tech, de la serie de Star Wars: The Bad Batch</p>
            <br />
            <p class="precio">S/ 85.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="8">
              Agregar al carrito
            </a>
          </div>
        </div>

        <!--8-->
        <div class="box">
          <img src="img/IMG STAR WARS 03.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Star Wars:Dooku vs. Anakin</h3>
            <p>
              Figura Funko Pop de Count Dooku vs. Anakin Skywalker, Exclusivo
            </p>
            <p class="precio">S/ 139.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="8">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--9-->
        <div class="box">
          <img src="img/IMG STAR WARS 09.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Pride: Star Wars - R2-D2</h3>
            <p>Figura Funko Pop de R2-D2 de Star Wars por la línea Pride</p>
            <br />
            <br />
            <p class="precio">S/ 69.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="8">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--10-->
        <div class="box">
          <img src="img/IMG STAR WARS 10.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Pride: Star Wars - BB-8</h3>
            <p>
              Figura Funko Pop de BB-8 de Star Wars por la línea Pride de Disney
            </p>
            <br />
            <p class="precio">S/ 69.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="8">
              Agregar al carrito
            </a>
          </div>
        </div>
        <!--11-->
        <div class="box">
          <img src="img/IMG STAR WARS 11.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Star Wars - Darth Vader (Unmasked)</h3>
            <p>
              Figura Funko Pop de Darth Vader sin máscara de Star Wars: El
              regreso del Jedi.
            </p>
            <p class="precio">S/ 69.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="11">
              Agregar al carrito
            </a>
          </div>
        </div>

        <!--12-->
        <div class="box">
          <img src="img/IMG STAR WARS 12.jpg" alt="" />
          <div class="product-txt">
            <h3>Funko Pop Star Wars: Jedi Fallen Order</h3>
            <p>
              Figura Funko Pop de Nightbrother del videojuego Star Wars: Jedi
              Fallen Order
            </p>
            <br />
            <p class="precio">S/ 89.90</p>
            <a href="#" class="agregar-carrito btn-3" data-id="12">
              Agregar al carrito
            </a>
          </div>
        </div>
      </div>

      <div class="btn-2" id="load-more">Cargar más</div>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
